body {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

* {
	box-sizing: border-box;
}

.header {
	margin: 32px;
}

.header-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	margin: 30px 0;
}

.section-one,
.section-two {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 44px;
}

.section-two {
	gap: 104px;
}

.header-logo {
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 2%;
	font-size: 32px;
}

.section-one-button {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 10px 12px;
	background-color: #0f8277;
	border-radius: 4px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: #fff;
}

.search-container {
	display: flex;
	align-items: center;
	border: 1px solid #5c5c5c;
	padding: 0 12px;
	border-radius: 4px;
}

.search-input {
	flex: 1;
	border: none;
	font-size: 16px;
	padding: 0px 50px 0px 0px;
}

.search-button {
	background-color: #0f8277;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.search-image {
	width: 16px;
	height: 16px;
}

.header-list-two,
.header-in-up {
	display: flex;
	gap: 48px;
}

.header-in-up {
	gap: 16px;
}

.log-in,
.sign-up {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 10px 12px;
	border-radius: 4px;
}

.sign-up {
	background-color: #0f8277;
	border-color: #0f8277;
	color: #fff;
}

.header-content {
	display: flex;
	justify-content: space-between;
	height: 100%;
	background-color: #dbf3ed;
	border-radius: 12px;
}

.text-content {
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding-top: 170px;
	padding-left: 110px;
}

.text-content h2 {
	font-size: 56px;
}

.text-content p {
	font-size: 22px;
}

.buttons {
	display: flex;
	gap: 24px;
}

.button-one,
.button-two,
.button-three {
	font-family: 'Quicksand', sans-serif;
	padding: 10px 12px;
	border-radius: 4px;
}

.button-one {
	background-color: #0f8277;
	border: none;
	color: #fff;
}

.button-two {
	background-color: #dbf3ed;
	border-color: #0f8277;
	color: #000;
}

.header-img {
	height: 100%;
	padding: 39px;
}

.main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main-choice-corces-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	margin-top: 60px;
	margin-bottom: 30px;
}

.main-choice-corces-title h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 40px;
}

.main-choice-corces-title p {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

.main-choice-corces-title-o {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: #0f8277;
}

.main-choice-corces {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	max-width: 100%;
}

.choice-content-item {
	display: flex;
	flex-direction: column;
	border: solid 1px #000;
	border-radius: 4px;
}

.choice-content-item-img {
	max-width: 100%;
	height: auto;
}

.choice-content-item-text {
	display: flex;
	flex-direction: column;
	margin: 24px 16px;
	justify-content: space-between;
}

.item-text-link {
	display: flex;
	align-items: center;
	margin: 24px 16px;
	gap: 12px;
	text-align: center;
}

.item-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.item-text p {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

.item-text h3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 24px;
}

.choice-content-item-text a {
	margin-top: 42px;
	font-family: 'Quicksand', sans-serif;
	color: #0f8277;
}

.main-choice-corces-1 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
	max-width: 100%;
}

.choice-content-item-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: solid 1px #000;
	border-radius: 4px;
}

.choice-content-item-text-1 {
	display: flex;
	flex-direction: column;
	margin: 24px 16px 24px 16px;
}

.item-text-1-link {
	display: flex;
	align-items: center;
	margin: 24px 16px 24px 16px;
}

.item-text-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.item-text-1 p {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

.item-text-1 h3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 24px;
}

.choice-content-item-text-1 a {
	font-family: 'Quicksand', sans-serif;
	color: #0f8277;
}

.organise-1 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	margin-top: 48px;
	margin-bottom: 50px;
}

.organise-link-1 {
	font-family: 'Quicksand', sans-serif;
	color: #0f8277;
	font-size: 20px;
	font-weight: bold;
}

.category {
	display: flex;
	justify-content: space-between;
}

.category-list {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.category-list-title,
.category-list-item p,
.category-list-link {
	font-family: 'Quicksand', sans-serif;
	color: #000;
}

.category-list-title {
	font-size: 24px;
	font-weight: bold;
}

.category-list-item {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.category-list-item p {
	font-size: 16px;
}

.category-list-link {
	color: #0f8277;
	font-size: 20px;
	font-weight: bold;
}

.leading-universities-companies {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: #dbf3ed;
}

.leading-universities-companies-slogan {
	margin: 60px;
}

.leading-universities-companies-slogan h2 {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	color: #000;
	font-size: 40px;
	font-weight: bold;
}

.leading-universities-companies-logos {
	width: 1296px;
	margin: 60px auto;
	display: flex;
	justify-content: space-between;
}

.section {
	display: flex;
	justify-content: space-between;
	gap: 72px;
}

.section-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 32px;
	margin: 72px 0;
}

.section-text h2,
.section-text p {
	font-family: 'Quicksand', sans-serif;
	color: #000;
}

.section-text h2 {
	font-size: 40px;
	font-weight: bold;
}

.section-text p {
	font-size: 22px;
	font-weight: bold;
}

.section-text-button {
}

.section-text-button-item {
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	padding: 10px 12px;
	background-color: #0f8277;
	border: #0f8277;
	border-radius: 4px;
}

.section-logos {
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-template-rows: repeat(3, 138px);
	max-width: 588px;
	max-height: 412px;
}

.section-logos > div {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

.section-logos-igm-one,
.section-logos-igm-two,
.section-logos-igm-three,
.section-logos-igm-four,
.section-logos-igm-five,
.section-logos-igm-six,
.section-logos-igm-seven,
.section-logos-igm-eight,
.section-logos-igm-nine {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.choose-plan {
	display: flex;
	flex-direction: column;
	gap: 40px;
	background-color: #dbf3ed;
	padding: 80px 36px 100px 36px;
}

.choose-plan-section-slogan {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	color: #000;
	font-size: 40px;
	font-weight: bold;
}

.choose-plan-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
}

.choose-plan-section-item,
.choose-plan-section-item-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 27px;
	padding: 56px;
	border-radius: 24px;
	font-family: 'Quicksand', sans-serif;
}

.choose-plan-section-item {
	background-color: #fff;
	border: 1px solid #0f8277;
}

.choose-plan-section-item-1 {
	background-color: #0f8277;
	color: #fff;
}

.choose-plan-section-item hr,
.choose-plan-section-item-1 hr {
	margin: 0;
	width: 100%;
}

.choose-plan-section-item-title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.choose-plan-section-item-paragraph,
.choose-plan-section-item-list-item,
.choose-plan-section-item-list-1 {
	font-size: 16px;
	text-align: center;
}

.choose-plan-section-item-price {
	font-weight: bold;
	font-size: 40px;
}

.choose-plan-section-item-price span {
	font-size: 16px;
}

.choose-plan-section-item-buttom-item,
.choose-plan-section-item-buttom-item-1 {
	font-family: 'Quicksand', sans-serif;
	padding: 10px 12px;
	border-radius: 4px;
	background-color: #0f8277;
}

.choose-plan-section-item-buttom-item-1 {
	border-color: #fff;
}

.choose-plan-section-item-buttom-item a,
.choose-plan-section-item-buttom-item-1 a {
	color: #fff;
}

.choose-plan-section-item-list,
.choose-plan-section-item-list-1 {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.choose-plan-section-item-list-item,
.choose-plan-section-item-list-item-1 {
	display: flex;
	gap: 10px;
}

.students-section {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
	max-width: 100%;
}

.students-section-img {
	max-width: 100%;
}

.students-section-div-one {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}
.students-section-div-two {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}
.students-section-div-three {
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}
.students-section-div-four {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}
.students-section-div-five {
	grid-row: 3 / 4;
	grid-column: 3 / 4;
}
.students-section-div-six {
	grid-row: 3 / 4;
	grid-column: 4 / 5;
}
.students-section-div-seven {
	grid-row: 2 / 3;
	grid-column: 4 / 5;
}
.students-section-div-eight {
	grid-row: 1 / 2;
	grid-column: 4 / 5;
}
.students-section-div-nine {
	grid-row: 1 / 3;
	grid-column: 2 / 4;
}

.contact-section {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-image: url('../images/image-32.png');
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.contact-section h2 {
	font-size: 40px;
}

.contact-section p {
	font-size: 20px;
}

.contact-section label {
	font-size: 22px;
}

.contact-form {
	width: 400px;
	padding: 30px;
	background-color: #dbf3ed;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.contact-section-text {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 24px;
}

.form-label {
	display: block;
	margin-bottom: 8px;
}

.form-input,
.form-textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border-color 0.3s, opacity 0.3s;
	opacity: 0.5;
}

.form-button {
	background-color: #0f8277;
	color: #fff;
	font-size: 16px;
	padding: 10px 36px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.footer {
	display: flex;
	justify-content: space-between;
	background-color: #f1f1f1;
	padding: 64px 36px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

.footer-left-side {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer-left-side-slogan {
	font-size: 32px;
	letter-spacing: 2%;
}

.footer-left-side-paragraph {
	font-size: 16px;
}

.footer-right-side {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 60px;
}

.footer-right-side-logos {
	display: flex;
	gap: 24px;
}

.footer-right-side-coperight {
	font-size: 16px;
}

.main-choice-corces-title,
.main-choice-corces-title,
.main-choice-corces-1,
.main-choice-corces,
.category,
.organise-1,
.section,
.choose-plan-section-slogan,
.students-section {
	margin: 32px;
}
